@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body, body .dark, body .light, body table, body .neutral, body .pale {
  font-family: "Lato", sans-serif;
  font-size: 100%;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.site-header,
.site-footer {
  flex: none;
  z-index: 9;
}

.site-content {
  flex: 1 0 auto;
}
.site-content:focus {
  outline: none;
}

body {
  min-width: 320px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
body:not(.index) {
  background-color: rgb(245, 245, 245);
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 99;
}
.site-header .header-main-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.site-header .skip-to-content-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  color: inherit;
}
.site-header .skip-to-content-link:focus {
  width: auto;
  height: auto;
  clip: auto;
}
.site-header .skip-to-content-link:focus {
  top: 0;
  left: 0;
}
.site-header .topbar {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .site-header .topbar {
    order: -1;
  }
}
.site-header .topbar-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .topbar-inner > * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.site-header .header-secondary-nav .section-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1.5rem;
}
.site-header .header-secondary-nav .links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .header-secondary-nav .link-item {
  padding: 0 8px;
}
.site-header .header-secondary-nav.has-dropdown {
  width: 100%;
  width: auto;
}
.site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle .nav-mobile-icon-indicator {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  content: "";
  display: block;
}
.site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner, .site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  position: absolute;
  display: block;
  transition: 0.25s;
}
.site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner {
  transform: scaleX(0);
}
.site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:before {
  transform: rotate(45deg);
}
.site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:after {
  transform: rotate(-45deg);
}
.site-header .header-secondary-nav.has-dropdown .nav-menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
}
.site-header .header-secondary-nav.has-dropdown.open .nav-menu {
  max-height: 2000px;
}
.site-header .header-secondary-nav.has-dropdown .nav-menu,
.site-header .header-secondary-nav.has-dropdown .sub-nav-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .header-secondary-nav.has-dropdown .nav-menu a,
.site-header .header-secondary-nav.has-dropdown .sub-nav-group a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}
.site-header .header-secondary-nav.has-dropdown .sub-nav {
  display: none;
}
.site-header .header-secondary-nav.has-dropdown .sub-nav a {
  padding-left: 1.5em;
}
.site-header .header-secondary-nav.has-dropdown .sub-nav.open {
  display: block;
}
.site-header .header-secondary-nav.has-dropdown .sub-nav .flyout-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .header-secondary-nav.has-dropdown .sub-nav .flyout-group a {
  padding-left: 2.5em;
}
@media screen and (max-width: -1px) {
  .site-header .header-secondary-nav.has-dropdown:not(.open) .nav-menu {
    visibility: hidden;
  }
}
@media screen and (min-width: 0px) {
  .site-header .header-secondary-nav.has-dropdown {
    position: static;
  }
  .site-header .header-secondary-nav.has-dropdown .nav-mobile-toggle {
    display: none;
  }
  .site-header .header-secondary-nav.has-dropdown .nav-menu {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    position: relative;
    max-height: none;
    overflow: visible;
  }
  .site-header .header-secondary-nav.has-dropdown .sub-nav a {
    padding: 0.5em;
  }
}
.site-header .header-secondary-nav.has-dropdown .nav-item {
  position: relative;
}
@media screen and (min-width: 0px) {
  .site-header .header-secondary-nav.has-dropdown {
    position: relative;
  }
  .site-header .header-secondary-nav.has-dropdown .nav-menu {
    position: relative;
  }
  .site-header .header-secondary-nav.has-dropdown .sub-nav-group {
    display: flex;
    flex-wrap: wrap;
    width: 12.5em;
  }
  .site-header .header-secondary-nav.has-dropdown .sub-nav {
    position: absolute;
  }
  .site-header .header-secondary-nav.has-dropdown .sub-nav a {
    width: 11.5em;
  }
  .site-header .header-secondary-nav.has-dropdown .sub-nav .flyout-group a {
    width: 10.5em;
    padding-left: 1.5em;
  }
}
.site-header .header-title a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-decoration: none;
}
.site-header .header-title a .logo-image {
  width: 100%;
  max-width: 100px;
}
.site-header .header-title a .school-name-inner {
  max-width: 100%;
}
.site-header .marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.site-header .marquee .marquee-inner {
  display: inline-block;
  padding-left: 100%;
}
.site-header .marquee .marquee-inner:hover {
  animation-play-state: paused;
}
.site-header .marquee.marquee-speed-18 .marquee-inner {
  animation: marquee 15s linear infinite;
}
.site-header .marquee.marquee-speed-35 .marquee-inner {
  animation: marquee 30s linear infinite;
}
.site-header .marquee.marquee-speed-7 .marquee-inner {
  animation: marquee 7.5s linear infinite;
}
.site-header .marquee .marquee-content {
  float: left;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.site-header .sitenav.hamburger {
  width: 100%;
}
.site-header .sitenav.hamburger .nav-mobile-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.site-header .sitenav.hamburger .nav-mobile-toggle .nav-mobile-icon-indicator {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.site-header .sitenav.hamburger .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .sitenav.hamburger .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  content: "";
  display: block;
}
.site-header .sitenav.hamburger .nav-mobile-toggle .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner, .site-header .sitenav.hamburger .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .sitenav.hamburger .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  position: absolute;
  display: block;
  transition: 0.25s;
}
.site-header .sitenav.hamburger .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner {
  transform: scaleX(0);
}
.site-header .sitenav.hamburger .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:before {
  transform: rotate(45deg);
}
.site-header .sitenav.hamburger .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:after {
  transform: rotate(-45deg);
}
.site-header .sitenav.hamburger .nav-menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
}
.site-header .sitenav.hamburger.open .nav-menu {
  max-height: 2000px;
}
.site-header .sitenav.hamburger .nav-menu,
.site-header .sitenav.hamburger .sub-nav-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav.hamburger .nav-menu a,
.site-header .sitenav.hamburger .sub-nav-group a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}
.site-header .sitenav.hamburger .sub-nav {
  display: none;
}
.site-header .sitenav.hamburger .sub-nav a {
  padding-left: 1.5em;
}
.site-header .sitenav.hamburger .sub-nav.open {
  display: block;
}
.site-header .sitenav.hamburger .sub-nav .flyout-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav.hamburger .sub-nav .flyout-group a {
  padding-left: 2.5em;
}
.site-header .sitenav.column {
  width: 100%;
}
.site-header .sitenav.column .nav-mobile-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.site-header .sitenav.column .nav-mobile-toggle .nav-mobile-icon-indicator {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.site-header .sitenav.column .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .sitenav.column .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  content: "";
  display: block;
}
.site-header .sitenav.column .nav-mobile-toggle .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner, .site-header .sitenav.column .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .sitenav.column .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  position: absolute;
  display: block;
  transition: 0.25s;
}
.site-header .sitenav.column .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner {
  transform: scaleX(0);
}
.site-header .sitenav.column .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:before {
  transform: rotate(45deg);
}
.site-header .sitenav.column .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:after {
  transform: rotate(-45deg);
}
.site-header .sitenav.column .nav-menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
}
.site-header .sitenav.column.open .nav-menu {
  max-height: 2000px;
}
.site-header .sitenav.column .nav-menu,
.site-header .sitenav.column .sub-nav-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav.column .nav-menu a,
.site-header .sitenav.column .sub-nav-group a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}
.site-header .sitenav.column .sub-nav {
  display: none;
}
.site-header .sitenav.column .sub-nav a {
  padding-left: 1.5em;
}
.site-header .sitenav.column .sub-nav.open {
  display: block;
}
.site-header .sitenav.column .sub-nav .flyout-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav.column .sub-nav .flyout-group a {
  padding-left: 2.5em;
}
@media screen and (max-width: 1023px) {
  .site-header .sitenav.column:not(.open) .nav-menu {
    visibility: hidden;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav.column {
    position: static;
  }
  .site-header .sitenav.column .nav-mobile-toggle {
    display: none;
  }
  .site-header .sitenav.column .nav-menu {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    position: relative;
    max-height: none;
    overflow: visible;
  }
  .site-header .sitenav.column .sub-nav a {
    padding: 0.5em;
  }
}
.site-header .sitenav.column .nav-item {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav.column {
    position: relative;
  }
  .site-header .sitenav.column .nav-menu {
    position: relative;
  }
  .site-header .sitenav.column .sub-nav-group {
    display: flex;
    flex-wrap: wrap;
    width: 25em;
  }
  .site-header .sitenav.column .sub-nav {
    position: absolute;
  }
  .site-header .sitenav.column .sub-nav a {
    width: 11.5em;
  }
  .site-header .sitenav.column .sub-nav .flyout-group a {
    width: 10.5em;
    padding-left: 1.5em;
  }
}
.site-header .sitenav.megamenu {
  width: 100%;
}
.site-header .sitenav.megamenu .nav-mobile-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.site-header .sitenav.megamenu .nav-mobile-toggle .nav-mobile-icon-indicator {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.site-header .sitenav.megamenu .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .sitenav.megamenu .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  content: "";
  display: block;
}
.site-header .sitenav.megamenu .nav-mobile-toggle .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner, .site-header .sitenav.megamenu .nav-mobile-toggle .nav-mobile-icon-indicator:before, .site-header .sitenav.megamenu .nav-mobile-toggle .nav-mobile-icon-indicator:after {
  position: absolute;
  display: block;
  transition: 0.25s;
}
.site-header .sitenav.megamenu .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator .nav-mobile-icon-indicator-inner {
  transform: scaleX(0);
}
.site-header .sitenav.megamenu .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:before {
  transform: rotate(45deg);
}
.site-header .sitenav.megamenu .nav-mobile-toggle.animated.open .nav-mobile-icon-indicator:after {
  transform: rotate(-45deg);
}
.site-header .sitenav.megamenu .nav-menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
}
.site-header .sitenav.megamenu.open .nav-menu {
  max-height: 2000px;
}
.site-header .sitenav.megamenu .nav-menu,
.site-header .sitenav.megamenu .sub-nav-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav.megamenu .nav-menu a,
.site-header .sitenav.megamenu .sub-nav-group a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}
.site-header .sitenav.megamenu .sub-nav {
  display: none;
}
.site-header .sitenav.megamenu .sub-nav a {
  padding-left: 1.5em;
}
.site-header .sitenav.megamenu .sub-nav.open {
  display: block;
}
.site-header .sitenav.megamenu .sub-nav .flyout-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav.megamenu .sub-nav .flyout-group a {
  padding-left: 2.5em;
}
@media screen and (max-width: 1023px) {
  .site-header .sitenav.megamenu:not(.open) .nav-menu {
    visibility: hidden;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav.megamenu {
    position: static;
  }
  .site-header .sitenav.megamenu .nav-mobile-toggle {
    display: none;
  }
  .site-header .sitenav.megamenu .nav-menu {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    position: relative;
    max-height: none;
    overflow: visible;
  }
  .site-header .sitenav.megamenu .sub-nav a {
    padding: 0.5em;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav.megamenu .sub-nav {
    position: absolute;
    left: 0;
  }
  .site-header .sitenav.megamenu .sub-nav.open {
    display: flex;
    align-items: flex-start;
  }
  .site-header .sitenav.megamenu .sub-nav .sub-nav-group {
    display: flex;
    flex-wrap: wrap;
    flex: none;
  }
  .site-header .sitenav.megamenu .sub-nav .sub-nav-group > li {
    width: 50%;
  }
  .site-header .sitenav.megamenu .sub-nav .sub-nav-group > li a {
    margin: 0 1em;
  }
  .site-header .sitenav.megamenu .sub-nav .mm-extra-content {
    flex: 1;
  }
  .site-header .sitenav.megamenu .sub-nav .mm-image {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav.megamenu .sub-nav {
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .site-header .sitenav.megamenu .mm-extra-content {
    display: none;
  }
}
.site-header .sitenav.megamenu .contact-info {
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
}
.site-header .sitenav.megamenu .contact-info .header-contact-link {
  display: inline-flex;
  padding: 0;
}
.site-header .sitenav.megamenu .map-container {
  position: relative;
  display: block;
  margin: 1em;
  min-height: 250px;
}
.site-header .sitenav.megamenu .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav.megamenu .contact-info {
    margin: 0 0 0 1em;
    padding: 0.5em;
    width: 40% !important;
  }
  .site-header .sitenav.megamenu .map-container {
    margin: 0;
  }
}
@media screen and (max-width: 1023px) {
  .site-header .sitenav .icon-only svg {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav .icon-only .nav-item-inner {
    display: inline-block;
    overflow: hidden;
  }
  .site-header .sitenav .icon-only .nav-item-inner svg {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  .site-header .sitenav .icon-only .nav-item-inner svg {
    fill: currentColor;
  }
}
@media screen and (min-width: 1024px) {
  .site-header.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.content-pages-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: none;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .content-pages-banner {
    display: none;
  }
}
.content-pages-banner .caption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.index-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

#content_main {
  position: relative;
  z-index: 10;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 400px;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 15px;
}
#content_main .pages-left-column-wrapper {
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  #content_main table {
    display: block;
    overflow-x: auto;
  }
  #content_main .bell-schedule {
    display: table;
  }
  #content_main .pages-column .stack-photo figcaption,
  #content_main .slideshow-wrapper .slide .slide-caption {
    font-size: 0.85em;
  }
  #content_main .video-list-top #controls2,
  #content_main .video-list-top #controls3 {
    width: auto;
  }
  #content_main #more-videos {
    display: none;
  }
  #content_main #staff_list_public .user-info-wrapper span[id*=staff] {
    display: block;
  }
  #content_main #staff_list_public .user-info-wrapper .user-position-public {
    display: block;
    margin-left: 0;
    width: 100%;
  }
  #content_main #staff_list_public .user-info-wrapper p {
    display: block;
    float: left;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #content_main .news-list article .column {
    width: 100%;
  }
  #content_main .show-news .attached-images {
    float: none;
    margin: 0 auto 1em;
  }
  #content_main .single-video #big-video,
  #content_main .below-start #big-video {
    width: 100% !important;
  }
  #content_main .video-list .thumb_wrap {
    display: block;
    float: none;
  }
  #content_main .video-list li .description {
    padding-left: 0;
  }
  #content_main .video-list li .video-list-date {
    padding-left: 0;
  }
  #content_main .bell-schedule {
    width: 100%;
  }
  #content_main .pages-column .stack-photo figcaption,
  #content_main .slideshow-wrapper .slide .slide-caption {
    font-size: 0.7em;
  }
  #content_main .video-list-top .controls,
  #content_main .video-list-top #controls2,
  #content_main .video-list-top #controls3 {
    display: none;
  }
  #content_main #album_thumbnails table img {
    width: 90%;
    height: auto;
    position: relative;
  }
  #content_main #edlio_search_form {
    max-width: 400px;
    width: auto;
  }
  #content_main #edlio_search_form input {
    width: 200px;
  }
  #content_main #contact_form {
    width: 100%;
  }
  #content_main #contact_form table {
    display: table;
    font-size: 12px;
    width: 280px !important;
  }
  #content_main #contact_form #f_name {
    width: 200px !important;
  }
  #content_main #contact_form #f_email {
    width: 200px !important;
  }
  #content_main #contact_form #f_message {
    width: 200px !important;
  }
  #content_main #calendar_wrapper .right-column {
    float: none;
    width: 100%;
  }
  #content_main #calendar_wrapper .right-column #calendar_grid table {
    display: table;
  }
  #content_main .pages-column .page-block-text,
  #content_main .pages-column .page-block-photos {
    width: 100%;
  }
  #content_main .pages-left-column-wrapper {
    margin-left: 0 !important;
    float: none;
  }
  #content_main .pages-left-column-wrapper .pages-left-column {
    margin-left: 0 !important;
  }
  #content_main .pages-right-column {
    float: none;
    width: 100% !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
.index #content_main {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
#content_main .pages-content-wrapper {
  overflow: visible;
}
#content_main img.sub {
  border: none;
}
@media screen and (min-width: 1024px) {
  #content_main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.index #content_main {
  background-color: transparent;
  box-shadow: none;
}
#content_main .right-column-page-navigation {
  margin-bottom: 1.25em;
}
@media screen and (max-width: 767px) {
  #content_main .right-column-page-navigation {
    margin: 20px auto;
  }
}
#content_main .right-column-page-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
#content_main .right-column-page-navigation a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-weight: 400;
  padding: 0.8em 6% 0.8em 10%;
  width: 84%;
  margin: 0;
  line-height: auto;
}
#content_main .right-column-page-navigation a:hover, #content_main .right-column-page-navigation a:focus {
  text-decoration: underline;
}
#content_main .right-column-page-navigation a .inner {
  text-decoration: none;
}
#content_main .right-column-page-navigation a .inner:hover, #content_main .right-column-page-navigation a .inner:focus {
  text-decoration: underline;
}

.homepage-row.bg-image,
.footer-row.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.homepage-row *[class$=row-inner],
.footer-row *[class$=row-inner] {
  position: relative;
}
.homepage-row *[class$=-column],
.footer-row *[class$=-column] {
  flex: 1;
  max-width: 100%;
}
.homepage-row.convert-small *[class$=row-inner],
.footer-row.convert-small *[class$=row-inner] {
  display: flex;
}
@media screen and (min-width: 768px) {
  .homepage-row.convert-mid *[class$=row-inner],
  .footer-row.convert-mid *[class$=row-inner] {
    display: flex;
  }
  .homepage-row.convert-mid *[class$=row-inner] .content-container,
  .footer-row.convert-mid *[class$=row-inner] .content-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .homepage-row.convert-large *[class$=row-inner],
  .footer-row.convert-large *[class$=row-inner] {
    display: flex;
  }
  .homepage-row.convert-large *[class$=row-inner] .content-container,
  .footer-row.convert-large *[class$=row-inner] .content-container {
    width: 100%;
  }
}
@media screen and (min-width: 1350px) {
  .homepage-row.convert-max *[class$=row-inner],
  .footer-row.convert-max *[class$=row-inner] {
    display: flex;
  }
  .homepage-row.convert-max *[class$=row-inner] .content-container,
  .footer-row.convert-max *[class$=row-inner] .content-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .homepage-row.width-constrain-row *[class$=row-inner],
  .footer-row.width-constrain-row *[class$=row-inner] {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
  }
}
.homepage-row.padded-row,
.footer-row.padded-row {
  padding-left: 10px;
  padding-right: 10px;
}

.content-container {
  padding-top: 25px;
  padding-bottom: 25px;
}
.content-container a {
  text-decoration: none;
}
.content-container a:hover, .content-container a:focus {
  text-decoration: underline;
}
.content-container .section-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}
.content-container .section-title a {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  color: inherit;
}
.content-container .item-name {
  margin-top: 0;
}
.content-container .item-name a {
  color: inherit;
}
.content-container .item-text {
  overflow-wrap: anywhere;
}
.content-container .item-text a {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .content-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .content-container .section-title {
    margin-bottom: 40px;
    font-size: 3rem;
  }
}

.read-more-links-group {
  display: flex;
  justify-content: center;
}

.site-footer .footer-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  text-align: center;
}
.site-footer .school-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
  margin-bottom: 15px;
}
.site-footer .school-logo .logo-image {
  width: 100%;
  max-width: 100px;
}
@media screen and (min-width: 768px) {
  .site-footer .school-logo.logo-orientation-horizontal {
    flex-direction: row;
    justify-content: center;
  }
  .site-footer .school-logo.logo-orientation-horizontal .school-name-inner:not(.hidden) {
    margin-bottom: 0;
    margin-left: 15px;
  }
}
.site-footer .footer-title {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-title {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .site-footer .footer-title {
    font-size: 3rem;
  }
}
.site-footer .footer-title .school-name-inner {
  max-width: 100%;
}
.site-footer .footer-map-container {
  position: relative;
  height: 200px;
  width: 90%;
}
.site-footer .footer-map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-map-container {
    width: 100%;
  }
}
.site-footer .footer-address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  text-align: center;
}
.site-footer .footer-address .footer-info-block {
  max-width: 100%;
}
.site-footer .footer-address a {
  color: inherit;
}
.site-footer .footer-address svg {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.site-footer .footer-secondary-nav {
  margin-bottom: 15px;
}
.site-footer .footer-secondary-nav .section-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1.5rem;
}
.site-footer .footer-secondary-nav .links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.site-footer .footer-secondary-nav .link-item {
  padding: 0 8px;
}
.site-footer .powered-by-edlio-logo {
  color: inherit;
}
.site-footer .powered-by-edlio-logo svg {
  fill: currentColor;
}
.site-footer .powered-by-edlio-logo.edlio-logo-horiz {
  display: inline-block;
  overflow: hidden;
}
.site-footer .powered-by-edlio-logo.edlio-logo-horiz svg {
  display: block;
  width: 140px;
  height: 20px;
  padding: 0;
}
.site-footer .powered-by-edlio-logo.edlio-logo-horiz svg {
  fill: currentColor;
}
.site-footer .powered-by-edlio-logo.edlio-logo-stacked {
  display: inline-block;
  overflow: hidden;
}
.site-footer .powered-by-edlio-logo.edlio-logo-stacked svg {
  display: block;
  width: 80px;
  height: 30px;
  padding: 0;
}
.site-footer .powered-by-edlio-logo.edlio-logo-stacked svg {
  fill: currentColor;
}
.site-footer .scholantis-logo {
  display: inline-block;
  overflow: hidden;
  color: inherit;
}
.site-footer .scholantis-logo svg {
  display: block;
  width: 160px;
  height: 35px;
  padding: 0;
}
.site-footer .scholantis-logo svg {
  fill: currentColor;
}
.site-footer .scholantis-logo svg {
  fill: currentColor;
}
.site-footer .footer-bottom-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.site-footer .footer-bottom-inner > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-holder .site-search-field {
  display: inline-flex;
  color: inherit;
  width: 220px;
}
.search-holder .site-search-field .site-search-field-input {
  flex: 1;
  margin: 0;
  min-width: 0;
  border: none;
  vertical-align: top;
  background: transparent;
  -webkit-appearance: none;
  box-sizing: content-box;
}
.search-holder .site-search-field .site-search-button {
  display: block;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.search-holder .site-search-field .site-search-field-input {
  padding: 0 0.75em;
  font-size: 1.25rem;
}
.search-holder .site-search-field .site-search-field-input::-webkit-input-placeholder {
  color: inherit;
}
.search-holder .site-search-field .site-search-field-input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-holder .site-search-field .site-search-button svg {
  display: block;
  width: 32px;
  height: 32px;
  padding: 6px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .search-holder.mobile-hidden .site-search-field {
    display: none;
  }
}
.search-holder.mobile-hidden .search-icon-link svg {
  display: block;
  width: 32px;
  height: 32px;
  padding: 6px;
}
@media screen and (min-width: 768px) {
  .search-holder.mobile-hidden .search-icon-link {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  #google_translate_element {
    display: none;
  }
}

#mobile_footer_nav {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
}
#mobile_footer_nav .links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#mobile_footer_nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  text-decoration: none;
}
#mobile_footer_nav a svg {
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  #mobile_footer_nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #footer_main {
    padding-bottom: 64px;
  }
}

.edlio-login-link {
  display: inline-flex;
  text-decoration: none;
}
.edlio-login-link .edlio-logo {
  display: inline-block;
  overflow: hidden;
  padding-right: 4px;
  margin-right: 4px;
  border-right: 2px solid;
}
.edlio-login-link .edlio-logo svg {
  display: block;
  width: 30px;
  height: 20px;
  padding: 0;
}
.edlio-login-link .edlio-logo svg {
  fill: currentColor;
}
.slick-container {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-container .slick-next-icon,
.slick-container .slick-prev-icon,
.slick-container .slick-pause-icon,
.slick-container .slick-play-icon {
  color: currentColor;
}
.slick-container .slick-next-icon:before,
.slick-container .slick-prev-icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: currentColor;
}
.slick-container .slick-prev-icon:before {
  transform: rotate(-45deg) translateZ(1px) translateX(-5.25px) translateY(-5.25px);
  transform-origin: top left;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: currentColor;
  left: 50%;
}
.slick-container .slick-next-icon:before {
  transform: rotate(45deg) translateZ(1px) translateX(5.25px) translateY(-5.25px);
  transform-origin: top right;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: currentColor;
  right: 50%;
}
.slick-container .slick-list {
  width: calc(100% - 44px * 2);
  margin: 0 44px;
}
.slick-container .slick-arrow {
  width: 44px;
  height: 44px;
  top: calc(50% - 44px / 2);
}
.slick-container .slick-dots .slick-dot-icon {
  background: rgb(168, 217, 244);
}
.slick-container .slick-dots li.slick-active .slick-dot-icon {
  background: rgb(146, 21, 15);
}
@font-face {
  font-family: "slick";
  src: url("../fonts/slick-pack_1.woff");
  font-weight: normal;
  font-style: normal;
}
.slick-container .slick-slider {
  position: relative;
}
.slick-container .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
}
.slick-container .slick-list:focus {
  outline: none;
}
.slick-container .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-container .slick-slider .slick-track,
.slick-container .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-container .slick-track {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
}
.slick-container .slick-slide {
  position: relative;
  min-height: 1px;
}
.slick-container .slick-slide img {
  display: block;
}
.slick-container .slick-slide.slick-loading img {
  display: none;
}
.slick-container .slick-slide.dragging img {
  pointer-events: none;
}
.slick-container .slick-arrow {
  position: absolute;
  z-index: 9999;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.slick-container .slick-arrow.slick-prev {
  left: 0;
}
.slick-container .slick-arrow.slick-next {
  right: 0;
}
.slick-container .slick-arrow.slick-hidden {
  display: none;
}
.slick-container .slick-arrow.slick-disabled {
  cursor: default;
}
.slick-container .slick-hidden,
.slick-container .slick-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.slick-container .slick-dotted {
  margin-bottom: 44px;
}
.slick-container .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 999;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}
.slick-container .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 6px;
  cursor: pointer;
}
.slick-container .slick-dots li button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 0;
  outline-width: none;
  border: 0;
  cursor: pointer;
  background: none transparent;
}
.slick-container .slick-dots li button:hover, .slick-container .slick-dots li button:focus {
  outline-width: 5px;
}
.slick-container .slick-dots li button .slick-dot-icon {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}
.slick-container .slick-dots li.slick-active button .slick-dot-icon {
  width: 20px;
  height: 20px;
}
.slick-container .slick-autoplay-toggle-button {
  position: absolute;
  z-index: 99999;
  left: 5px;
  bottom: -25px;
  background: none;
  border: 0;
  cursor: pointer;
}
.slick-container .slick-autoplay-toggle-button .slick-play-icon:before,
.slick-container .slick-autoplay-toggle-button .slick-pause-icon:before {
  width: 1.25rem;
  height: 1.25rem;
  font-family: slick;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
}
.slick-container .slick-autoplay-toggle-button .slick-pause-icon:before {
  content: "⏸";
}
.slick-container .slick-autoplay-toggle-button .slick-play-icon:before {
  content: "▶";
}
.slick-container .slick-loading .slick-track,
.slick-container .slick-loading .slick-slide {
  visibility: hidden;
}
.slick-container .slick-vertical .slick-track {
  display: block;
}
.slick-container [dir=rtl] .slick-track {
  flex-direction: row-reverse;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.bg-primary {
  background-color: rgb(146, 21, 15);
  color: rgb(255, 255, 255);
}

.bg-secondary {
  background-color: rgb(168, 217, 244);
  color: rgb(0, 0, 0);
}

.flat-icon-colors svg.color-flatten .color-fill {
  fill: currentColor;
}
.flat-icon-colors svg.color-flatten .transparency-change {
  fill: transparent;
}
.flat-icon-colors svg:not(.color-flatten) {
  fill: currentColor;
}

.site-header1a {
  padding-bottom: 15px;
}
.site-header1a .header-title {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  padding-top: 15px;
  text-align: center;
}
.site-header1a .header-title a {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .site-header1a .header-title a {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .site-header1a .header-title a {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .site-header1a {
    padding-bottom: 0;
  }
  .site-header1a .header-title {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .site-header1a .header-title a {
    flex-direction: row;
  }
  .site-header1a .header-title .school-logo .school-name-inner:not(.hidden) {
    margin-bottom: 0;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .site-header1a .header-title {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

body {
  overflow-x: hidden;
}

#header_main .school-name-inner, #footer_main .school-name-inner {
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 2.375rem;
  font-weight: 700;
}
#header_main .school-name-inner .second-line, #footer_main .school-name-inner .second-line {
  font-size: 0.5em;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 1350px) {
  #header_main .school-name-inner, #footer_main .school-name-inner {
    font-size: 2.875rem;
  }
}

#header_main {
  padding-top: 36px;
  padding-bottom: 36px;
  gap: 28px;
}
#header_main:after {
  content: "";
  display: block;
  border-top: 5px solid;
  width: 100%;
}
#header_main .school-name {
  padding: 0;
}
#header_main .school-name > a {
  color: inherit;
}
#header_main .header-secondary-nav .links-list {
  gap: 14px;
}
#header_main .header-secondary-nav .link-item {
  padding: 0;
}
#header_main .header-secondary-nav .link-item a {
  border: 1px solid;
  color: inherit;
}
#header_main .header-secondary-nav.topbar-nav a {
  display: inline-block;
  padding: 0.75em;
  font-size: 1.125rem;
  text-decoration: none;
}
#header_main .header-secondary-nav.social-nav a {
  display: flex;
  height: 48px;
  width: 48px;
}
#header_main .header-secondary-nav.social-nav img, #header_main .header-secondary-nav.social-nav svg {
  width: 2rem;
  height: 2rem;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  #header_main {
    display: grid;
    box-sizing: border-box;
    padding: 10px 0 0;
    grid-gap: 14px;
    grid-template-columns: 25px 1fr auto 25px;
    grid-template-areas: ". name topnav ." ". name social ." "line line line line" ". nav nav .";
  }
  body.index #header_main {
    position: sticky;
    top: 0;
  }
  #header_main .school-name {
    grid-area: name;
  }
  #header_main .topbar-nav {
    grid-area: topnav;
  }
  #header_main:after {
    grid-area: line;
  }
  #header_main .social-nav {
    grid-area: social;
  }
  #header_main .sitenav-main {
    grid-area: nav;
  }
  #header_main .school-name {
    max-width: none;
    margin: 0;
    text-align: left;
  }
  #header_main .social-nav,
  #header_main .topbar-nav {
    justify-self: flex-end;
  }
  #header_main:after {
    margin-bottom: -14px;
  }
  #header_main .sitenav-main.nav-group .nav-menu {
    max-width: none;
  }
  #header_main .sitenav-main.nav-group .nav-item > a {
    height: 50px;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 400;
    position: relative;
  }
  #header_main .sitenav-main.nav-group .nav-item > a:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.25s;
  }
  #header_main .sitenav-main.nav-group .nav-item > a:hover:before, #header_main .sitenav-main.nav-group .nav-item > a:focus:before, #header_main .sitenav-main.nav-group .nav-item > a.open:before {
    transform: scaleX(1);
  }
  #header_main .sitenav-main.nav-group .nav-item .sub-nav {
    max-width: none;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1350px) {
  #header_main .sitenav-main.nav-group .nav-item .sub-nav {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media screen and (min-width: 1024px) {
  #header_main .sitenav-main.nav-group .nav-item .sub-nav-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1350px) {
  #header_main .sitenav-main.nav-group .nav-item .sub-nav-group {
    gap: 0 150px;
  }
}
@media screen and (min-width: 1024px) {
  #header_main .sitenav-main.nav-group .nav-item .sub-nav-group > li {
    width: auto;
  }
  #header_main .sitenav-main.nav-group .nav-item .sub-nav-group > li > a {
    margin: 0.25em 0;
    display: inline-block;
  }
  #header_main .sitenav-main.nav-group .nav-item .sub-nav-group > li:nth-child(n+3) {
    border-top: 1px solid;
  }
}
@media screen and (min-width: 1350px) {
  #header_main {
    grid-template-columns: 75px 1fr auto auto 75px;
    padding-left: 0;
    padding-right: 0;
    grid-template-areas: ". name topnav social ." "line line line line line" ". nav nav nav .";
  }
}

#qlinks_container {
  padding: 30px;
  box-sizing: border-box;
}
#qlinks_container .links-list {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
#qlinks_container .links-list .link-item {
  width: calc(100% / 1 - 0px);
}
@media screen and (min-width: 768px) {
  #qlinks_container .links-list .link-item {
    width: calc(100% / 2 - 15px);
  }
}
@media screen and (min-width: 1024px) {
  #qlinks_container .links-list .link-item {
    width: calc(100% / 4 - 23px);
  }
}
#qlinks_container .link-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 22px 10px;
  font-size: 1.375rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  gap: 0.5em;
  border-bottom: 5px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#qlinks_container .link-item a img, #qlinks_container .link-item a svg {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1350px) {
  #qlinks_container {
    padding-left: 75px;
    padding-right: 75px;
  }
}

#events_row {
  position: relative;
}
#events_row:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  opacity: 0.8;
}

#events_tabs_container .tab-labels-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
  margin-bottom: 36px;
}
@media screen and (min-width: 1024px) {
  #events_tabs_container .tab-labels-list {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1350px) {
  #events_tabs_container .tab-labels-list {
    gap: 55px;
  }
}
#events_tabs_container .tab-label > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 0.25em 0;
}
#events_tabs_container .tab-label > a:after {
  content: "";
  display: block;
  border-top: 5px solid;
  margin-top: 0.25em;
  width: 100%;
  opacity: 0.5;
}
#events_tabs_container .tab-label > a:hover, #events_tabs_container .tab-label > a:focus {
  text-decoration: none;
}
#events_tabs_container .tab-label > a:hover:after, #events_tabs_container .tab-label > a:focus:after {
  opacity: 1;
}
#events_tabs_container .tab-label.ui-state-active > a:after {
  opacity: 1;
}
#events_tabs_container .items-list {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
#events_tabs_container .items-list .slick-next-icon,
#events_tabs_container .items-list .slick-prev-icon,
#events_tabs_container .items-list .slick-pause-icon,
#events_tabs_container .items-list .slick-play-icon {
  color: currentColor;
}
#events_tabs_container .items-list .slick-next-icon:before,
#events_tabs_container .items-list .slick-prev-icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: currentColor;
}
#events_tabs_container .items-list .slick-prev-icon:before {
  transform: rotate(-45deg) translateZ(1px) translateX(-5.25px) translateY(-5.25px);
  transform-origin: top left;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: currentColor;
  left: 50%;
}
#events_tabs_container .items-list .slick-next-icon:before {
  transform: rotate(45deg) translateZ(1px) translateX(5.25px) translateY(-5.25px);
  transform-origin: top right;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: currentColor;
  right: 50%;
}
#events_tabs_container .items-list .slick-list {
  width: calc(100% - 44px * 2);
  margin: 0 44px;
}
#events_tabs_container .items-list .slick-arrow {
  width: 44px;
  height: 44px;
  top: calc(50% - 44px / 2);
}
#events_tabs_container .items-list .slick-dots .slick-dot-icon {
  background: rgb(168, 217, 244);
}
#events_tabs_container .items-list .slick-dots li.slick-active .slick-dot-icon {
  background: rgb(146, 21, 15);
}
@font-face {
  font-family: "slick";
  src: url("../fonts/slick-pack_1.woff");
  font-weight: normal;
  font-style: normal;
}
#events_tabs_container .items-list .slick-slider {
  position: relative;
}
#events_tabs_container .items-list .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
}
#events_tabs_container .items-list .slick-list:focus {
  outline: none;
}
#events_tabs_container .items-list .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
#events_tabs_container .items-list .slick-slider .slick-track,
#events_tabs_container .items-list .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
#events_tabs_container .items-list .slick-track {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
}
#events_tabs_container .items-list .slick-slide {
  position: relative;
  min-height: 1px;
}
#events_tabs_container .items-list .slick-slide img {
  display: block;
}
#events_tabs_container .items-list .slick-slide.slick-loading img {
  display: none;
}
#events_tabs_container .items-list .slick-slide.dragging img {
  pointer-events: none;
}
#events_tabs_container .items-list .slick-arrow {
  position: absolute;
  z-index: 9999;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
#events_tabs_container .items-list .slick-arrow.slick-prev {
  left: 0;
}
#events_tabs_container .items-list .slick-arrow.slick-next {
  right: 0;
}
#events_tabs_container .items-list .slick-arrow.slick-hidden {
  display: none;
}
#events_tabs_container .items-list .slick-arrow.slick-disabled {
  cursor: default;
}
#events_tabs_container .items-list .slick-hidden,
#events_tabs_container .items-list .slick-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
#events_tabs_container .items-list .slick-dotted {
  margin-bottom: 44px;
}
#events_tabs_container .items-list .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 999;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}
#events_tabs_container .items-list .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 6px;
  cursor: pointer;
}
#events_tabs_container .items-list .slick-dots li button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 0;
  outline-width: none;
  border: 0;
  cursor: pointer;
  background: none transparent;
}
#events_tabs_container .items-list .slick-dots li button:hover, #events_tabs_container .items-list .slick-dots li button:focus {
  outline-width: 5px;
}
#events_tabs_container .items-list .slick-dots li button .slick-dot-icon {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}
#events_tabs_container .items-list .slick-dots li.slick-active button .slick-dot-icon {
  width: 20px;
  height: 20px;
}
#events_tabs_container .items-list .slick-autoplay-toggle-button {
  position: absolute;
  z-index: 99999;
  left: 5px;
  bottom: -25px;
  background: none;
  border: 0;
  cursor: pointer;
}
#events_tabs_container .items-list .slick-autoplay-toggle-button .slick-play-icon:before,
#events_tabs_container .items-list .slick-autoplay-toggle-button .slick-pause-icon:before {
  width: 1.25rem;
  height: 1.25rem;
  font-family: slick;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
}
#events_tabs_container .items-list .slick-autoplay-toggle-button .slick-pause-icon:before {
  content: "⏸";
}
#events_tabs_container .items-list .slick-autoplay-toggle-button .slick-play-icon:before {
  content: "▶";
}
#events_tabs_container .items-list .slick-loading .slick-track,
#events_tabs_container .items-list .slick-loading .slick-slide {
  visibility: hidden;
}
#events_tabs_container .items-list .slick-vertical .slick-track {
  display: block;
}
#events_tabs_container .items-list [dir=rtl] .slick-track {
  flex-direction: row-reverse;
}
#events_tabs_container .item {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#events_tabs_container .item-date {
  width: 100%;
  padding: 0.5em 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
#events_tabs_container .item-summary {
  text-align: left;
}
@media screen and (min-width: 768px) {
  #events_tabs_container .slick-slide {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1350px) {
  #events_tabs_container .slick-slide {
    margin: 0 75px;
  }
}

@media screen and (min-width: 768px) {
  #news_container .slick-slide {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  #news_container .slick-slide {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1350px) {
  #news_container .slick-slide {
    margin-left: 37.5px;
    margin-right: 37.5px;
  }
}

#events_tabs_container .items-list .slick-list, #news_container .items-list .slick-list {
  width: calc(100% - 0px * 2);
  margin: 0 0px;
}
#events_tabs_container .items-list .slick-arrow, #news_container .items-list .slick-arrow {
  top: calc(100% + 50px);
}
@media screen and (min-width: 768px) {
  #events_tabs_container .items-list .slick-arrow.slick-prev, #news_container .items-list .slick-arrow.slick-prev {
    left: auto;
    right: calc(50% + 150px);
  }
  #events_tabs_container .items-list .slick-arrow.slick-next, #news_container .items-list .slick-arrow.slick-next {
    right: auto;
    left: calc(50% + 150px);
  }
}
#events_tabs_container .slick-slide, #news_container .slick-slide {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  #events_tabs_container .slick-slide, #news_container .slick-slide {
    margin-left: 10px;
    margin-right: 10px;
  }
}
#events_tabs_container .item-inner, #news_container .item-inner {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#events_tabs_container .item-summary, #news_container .item-summary {
  box-sizing: border-box;
  padding: 20px 2rem;
}

#spotlight_container {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
#spotlight_container .spotlight-image-holder {
  margin: 0 0 1rem;
}
@media screen and (min-width: 768px) {
  #spotlight_container .spotlight-image-holder {
    margin: 0 1rem 0 0;
    max-width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  #spotlight_container .spotlight-image-holder {
    margin: 0 38px 0 0;
  }
  #spotlight_container .item-text {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1350px) {
  #spotlight_container {
    padding-left: 75px;
    padding-right: 75px;
  }
}

#infographics_container .items-list {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#infographics_container .items-list .infographic-item {
  width: calc(100% / 2 - 5px);
}
@media screen and (min-width: 768px) {
  #infographics_container .items-list .infographic-item {
    width: calc(100% / 3 - 7px);
  }
}
#infographics_container .infographic-item .item-inner {
  height: 100%;
  justify-content: center;
  gap: 1em;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}
#infographics_container .infographic-item svg {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  #infographics_container .infographic-item .item-inner {
    font-size: 1.25rem;
    padding: 3em 10px;
  }
  #infographics_container .infographic-item svg {
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (min-width: 1350px) {
  #infographics_container {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.bg-watermark {
  background-repeat: no-repeat;
  background-position: top 5% center;
  background-size: 150% auto;
}
@media screen and (min-width: 1024px) {
  .bg-watermark {
    background-size: auto;
    background-position: top right 5%;
    background-size: auto;
  }
}

.content-container {
  padding: 88px 0;
}
.content-container .section-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}
.content-container .item-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.content-container .item-text {
  line-height: 1.5;
}
.content-container .read-more-link {
  font-size: 1.25rem;
  border: 1px solid;
  padding: 0.75em 1em;
  text-align: center;
}
.content-container .read-more-links-group {
  margin-top: 42px;
}
.content-container.spotlight-container .section-title {
  margin-bottom: 0.5em;
}
.content-container.spotlight-container .read-more-links-group {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .content-container.spotlight-container .section-title {
    text-align: left;
  }
  .content-container.spotlight-container .read-more-links-group {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .content-container .item-text {
    font-size: 1.125rem;
  }
}

#content_main .pageTitle {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px) {
  #content_main .pageTitle {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1024px) {
  #content_main .pageTitle {
    font-size: 2.5rem;
  }
}

#footer_main .logo-image {
  width: 100px;
}
#footer_main .school-name {
  text-align: center;
}
#footer_main .edlio-login-link {
  color: inherit;
  font-size: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
}
#footer_main .edlio-login-link svg {
  fill: currentColor;
}
#footer_main .footer-info, #footer_main .footer-nav {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
}
#footer_main .footer-info a, #footer_main .footer-nav a {
  color: inherit;
}
#footer_main .footer-nav .links-list {
  display: block;
}
#footer_main .footer-grid-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#footer_main .footer-grid-group > * {
  margin: 0;
}
#footer_main .footer-edlios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  #footer_main .logo-image {
    grid-area: logo;
  }
  #footer_main .school-name {
    grid-area: name;
  }
  #footer_main .footer-info {
    grid-area: info;
  }
  #footer_main .go-public {
    grid-area: go;
  }
  #footer_main .footer-nav {
    grid-area: nav;
  }
  #footer_main .footer-edlios {
    grid-area: edlios;
  }
  #footer_main .logo-image {
    align-self: flex-start;
  }
  #footer_main .school-name {
    text-align: left;
  }
  #footer_main .footer-grid-group {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: stretch;
    grid-template-areas: "logo name go" "logo info nav" "edlios edlios edlios";
  }
  #footer_main .footer-info, #footer_main .footer-nav {
    text-align: left;
  }
  #footer_main .footer-edlios {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1350px) {
  #footer_main .footer-grid-group {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    grid-template-areas: "logo name go nav" "logo info go nav" "edlios edlios edlios edlios";
  }
  #footer_main .footer-row {
    box-sizing: border-box;
    padding-left: 75px;
    padding-right: 75px;
  }
  #footer_main .footer-nav {
    line-height: 2;
  }
}/*# sourceMappingURL=main.css.map */